<h2>Товар</h2>
{{ dump(order) }}
<div>
    <div class="order__heading">
        <h3>Заказ №<span class="order__heading-id">{{ order.id }}</span></h3>
        <p>Стоимость заказа:
            </span> {{ order.total_price }}</span>
        </p>
    </div>
    <div class="order__row">
        <div><p>Сведения о заказчике:</p>
            <p>Имя: {{ order.customer_name }}</p>
            <p>Номер телефона: {{ order.phone_number }}</p>
            <p>Логин: {{ order.login }}</p>
            {#    <p>Номер сессии {{ order.cart_session }}</p> #}
        </div>
        <div>
            <form class="order__status-form" action="option1.php">
                <p class="order__status-form-heading">Статус заказа:</p>
                <select class="order__status-select" size="1" name="status">
                    <option class="order__status-option" disabled selected>Выберите статус</option>
                    <option class="order__status-option" value="оформлен">оформлен</option>
                    <option class="order__status-option" value="в работе">в работе</option>
                    <option class="order__status-option" value="оплачен">оплачен</option>
                    <option class="order__status-option" value="обработан">обработан</option>
                    <option class="order__status-option" value="передан в службу доставки">передан в службу доставки
                    </option>
                    <option class="order__status-option" value="получен заказчиком">получен заказчиком</option>
                    <option class="order__status-option" value="завершён">завершён</option>
                </select>
            </form>
            <button type="submit" class="order__button order__set-status-button">Установить статус</button>
            <p class="order__status-message"></p>
        </div>
    </div>
</div>
<button type="submit" class="order__button order__details">Состав заказа</button>
</div>