<h2>Каталог</h2>
{% for item in catalog %}
    <form action="/cart/add/?id={{ item.id }}" method="post">
        <div>
            <h3><a href="/product/card/?id={{ item.id }}">{{ item.name }}</a></h3>
            <p>price: {{ item.price }}</p>
            <button type="submit">Купить</button>
        </div>
    </form>
{% endfor %}

<a href="/product/catalog/?page={{ page }}">Еще</a>