{# <pre> #}
{#    {{ dump(cart) }} #}
{# </pre> #}

<div class="cart">
    {% if (cart == null) %}
        <div class="cart__message"><?= $message ?></div>
        <p>Ваша корзина пуста!</p>
    {% else %}
        <div class="cart__table">
            <div class="cart__header cart__row">
                <div class="cart__column">№</div>
                <div class="cart__column">Наименование</div>
                <div class="cart__column">Стоимость единицы товара</div>
                <div class="cart__column">Количество</div>
                <div class="cart__column">Цена</div>
                <div class="cart__column"></div>
            </div>
            {% for key, cartLine in cart %}
                <div class="cart__row cart__row-{{ cartLine.cart_id }}">
                    <div class="cart__column cart__good-id">{{ key }}</div>
                    <div class="cart__column cart__good-name">{{ cartLine.good_name }}</div>
                    <div class="cart__column cart__goog-price">{{ cartLine.good_price }}</div>
                    <div class="cart__column cart__good-quantity">{{ cartLine.good_number }}</div>
                    <div class="cart__column cart__good-total-price">{{ cartLine.full_price }}</div>

                    <input type="text" name="goods_id" value="{{ cartLine.goods_id }}" hidden>
                    <input type="text" name="goods_count" value="{{ cartLine.number }}" hidden>
                    <button class="remove" type="submit" data-id="{{ cartLine.cart_id }}">Удалить</button>

                </div>
            {% endfor %}
            <div class="cart__header cart__row">
                <div class="cart__full-price">Итого</div>
                <div class="cart__column cart__order-price"></div>
            </div>
            <div class="cart__checkout">
                <div class="cart__checkout-space">
                    <form class="cart__checkout-form dn" action="/cart/checkout/" method="post">
                        <input type="text" name="checkout" value="{{ cartLine.session_id }}" hidden>
                        <input class="cart__checkout-input" type="text" name="customer_name" placeholder="Имя"
                               value="<?= $_SESSION['login'] ?>">
                        <input class="cart__checkout-input" type="tel" name="phone_number" placeholder="Номер телефона">
                        <button class="cart__button cart__checkout-button" type="submit">Отправить сведения о заказе
                        </button>
                    </form>
                </div>
                <button class="cart__button cart__button-checkout">Оформить</button>
            </div>
        </div>
    {% endif %}
</div>


